.main{
  &__wrapper{
    padding: 0 126px 75px 129px;
    margin-top: 131px;
    @media (max-width: 1650px){
      padding: 0 70px 75px 60px;
    }
    @media (max-width: 1450px){
      padding: 0 60px 75px 40px;
    }
    @media (max-width: 1200px){
      padding: 0 25px 60px 30px;
    }
    @media (max-width: 991px){
      margin-top: 90px;
    }
    @media (max-width: 650px){
      margin-top: 34px;
      padding: 0 14px 28px 8px;
    }
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__info{
    @media (max-width: 768px){
      margin-bottom: 50px;
      width: 100%;
    }
    @media (max-width: 650px){
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 72px;
    line-height: 86.4px;
    text-align: left;
    color: #fff;
    margin-bottom: 19px;
    @media (max-width: 1750px) {
      font-size: 58px;
      line-height: 70px;
    }
    @media (max-width: 1450px) {
      font-size: 48px;
      line-height: 59px;
    }
    @media (max-width:991px) {
      font-size: 32px;
      line-height: 40px;
    }
    @media (max-width: 768px){
      display: inline-block;
    }
    @media (max-width: 650px){
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 34.11px;
      line-height: 40px;
      margin-bottom: 8px;

    }
    &:nth-child(2){
      margin-bottom: 80px;
      @media (max-width: 1450px){
        margin-bottom: 35px;
      }
    }
  }
  &__subtitle{
    font-weight: 200;
    font-size: 72px;
    line-height: 86.4px;
    text-align: left;
    color: #fff;
    margin-bottom: 101px;
    @media (max-width: 1750px) {
      font-size: 58px;
      line-height: 70px;
    }
    @media (max-width: 1450px) {
      font-size: 48px;
      line-height: 59px;
    }
    @media (max-width:991px) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 70px;
    }
    @media (max-width: 650px){
      margin-bottom: 51px;
      font-size: 34.11px;
      line-height: 40.94px;
      text-align: center;
      color: #fff;
    }
  }
  &__schedule{
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 29px 42px;
    transition: all 0.4s;
    border-radius: 50px;
    background: #094079;
    display: inline-block;
    @media (max-width: 1750px){
      font-size: 39px;
      line-height: 49px;
    }
    @media (max-width: 1450px){
      font-size: 28px;
      line-height: 36px;
    }
    @media (max-width: 991px){
      font-size: 22px;
      line-height: 30px;
      padding: 15px 23px;
    }
    @media (max-width: 650px){
      font-size: 22.74px;
      line-height: 27.29px;
      text-align: center;
      padding: 14px 10px;
      width: 100%;
      text-transform: uppercase;
    }
    &:hover{
      opacity: 0.7;
      color: white;
    }
  }
  &__form{
    width: 100% ;
    max-width: 657px;
    @media (max-width: 1750px){
      max-width: 630px;
    }
    @media (max-width: 1450px){
      max-width: calc(100%/2 - 60px);
    }
    @media (max-width:991px){
      max-width: calc(100%/2 );
    }
    @media (max-width: 768px){
      display: none;
    }

  }
  &__form-title{
    font-size: 60.18px;
    line-height: 72.22px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding-left: 20px;
    margin-bottom: 16px;
    margin-top: 6px;
    @media (max-width: 1750px) {
      font-size: 46px;
      line-height: 59px;
    }
    @media (max-width: 1450px) {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0;
    }
    @media (max-width:991px) {
      font-size: 25px;
      line-height: 29px;
      margin-top: 0;
    }
  }
  &__form-subtitle{
    font-size: 40.12px;
    line-height: 48.14px;
    text-align: center;
    color: #fff;
    font-weight: 200;
    padding-left: 17px;
    margin-bottom: 34px;
    @media (max-width: 1750px){
      font-size: 38px;
      line-height: 45px;
    }
    @media (max-width: 1450px){
      font-size: 30px;
      line-height: 40px;
    }

    @media (max-width: 991px){
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 25px;
    }

  }
  &__inputs-block{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    padding: 10px 18px 10px;
    margin-bottom: 41px;
    margin-left: 11px;
    @media (max-width: 1750px){
      margin-bottom: 30px;
    }
    @media (max-width: 1450px){
      margin-bottom: 23px;
      padding: 8px 15px;
    }
    @media (max-width: 991px){
      margin-bottom: 15px;
      padding: 8px 15px;
    }
    &:nth-child(2){
      margin-bottom: 43px;
    }
    &:last-child{
      margin-bottom: 43px;
    }
  }
  &__form-icons{
    width: 44px;
    height: 53px;
    margin-right: 15px;
    @media (max-width: 1450px){
      width:34px;
      height: 40px;
    }
    @media (max-width: 1450px){
      width:22px;
      height: 36px;
    }
  }
  &__form-icons svg{
    width: 100%;
    height: 100%;
  }
  &__form-label{
    display: none;
  }
  &__form-input{
    width: 100%;
    height: 53px;
    font-size: 20px;
    @media (max-width: 1450px){
      height: 45px;
    }
    @media (max-width: 991px){
      height: 23px;
      font-size: 18px;
    }
  }
  &__form-download{
    border-radius: 50px;
    background: #094079;
    padding: 29px 130px 31px;
    width: 100%;
    font-size: 40.12px;
    line-height: 48.14px;
    text-align: center;
    color: #fff;
    font-weight:500 ;
    display: inline-block;
    margin: 6px 0 0 10px;
    @media (max-width: 1750px){
      font-size: 29px;
      line-height: 38px;
    }
    @media (max-width: 1450px){
      font-size: 22px;
      line-height: 30px;
      white-space: nowrap;
      padding: 29px 10px 31px;
    }
    @media (max-width:991px){
      font-size: 18px;
      line-height: 26px;
      white-space: nowrap;
      padding: 17px 10px 19px;
    }
    @media (max-width: 768px){
      margin-left: 0;
    }
    &:hover{
      opacity: 0.7;
      color: white;
    }
  }
  &__brands{
    display: flex;
    justify-content: space-between;
    height: 41px;
    margin-top: 144px;
    @media (max-width: 580px){
      flex-wrap: wrap;
      height: 100px;
      margin-top: 0;
    }
    @media (max-width: 350px){
      flex-wrap: wrap;

    }
    @media (max-width: 350px){
      flex-wrap: wrap;
      height: 81px;
    }
  }
  &__brand-block{
    @media (max-width: 580px){
      margin: 0 40px;
    }
    @media (max-width: 534px){
      margin: 0 30px;
    }
    @media (max-width: 448px){
      margin: 0 20px;
    }
    @media (max-width: 388px){
      margin: 0 15px;
    }
    @media (max-width: 358px){
      margin: 0 6px;
    }
  }
  &__brand-block{
    &:nth-child(1){
      width: 169px;
      @media (max-width: 1200px){
        width: 135px;
      }
      @media (max-width: 991px){
        width: 87px;
      }
    }
    &:nth-child(2){
      width: 175px;
      @media (max-width: 1200px){
        width: 140px;
      }
      @media (max-width: 991px){
        width: 91px;
      }
    }
    &:nth-child(3){
      width: 79px;
      @media (max-width: 1200px){
        width: 63px;
      }
      @media (max-width: 991px){
        width: 42px;
      }
    }
    &:nth-child(4){
      width: 122px;
      @media (max-width: 1200px){
        width: 97px;
      }
      @media (max-width: 991px){
        width: 63px;
      }
    }
    &:nth-child(5){
      width: 113px;
      @media (max-width: 1200px){
        width: 90px;
      }
      @media (max-width: 991px){
        width: 59px;
      }
    }
    &:nth-child(6){
      width:225px;
      @media (max-width: 1200px){
        width: 180px;
      }
      @media (max-width: 991px){
        width: 117px;
      }
    }
  }
}