.partners {
  &__wrapper {

  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
  }

  &__block {
    width: 33.333%;
    height: 540px;
    padding: 70px 92px;
    background-image: url("../img/Clipppppp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1800px) {
      padding: 70px 50px;
    }
    @media (max-width: 1550px) {
      padding: 55px 35px;
    }
    @media (max-width: 1260px) {
      padding: 50px 25px;
    }
    @media (max-width: 991px) {
      width: 50%;
    }
    @media (max-width: 650px) {
      width: 100%;
      padding: 42px 45px;
      height: 318px;
    }

    &:nth-child(1) {
      background-color: #cd7c2c;

      .partners__logo-block {
        width: 84px;
        @media (max-width: 650px) {
          width: 49px;
        }
      }
    }

    &:nth-child(2) {
      background-color: #9f52cc;

      .partners__logo-block {
        width: 238px;
        @media (max-width: 650px) {
          width: 140px;
        }
      }
    }

    &:nth-child(3) {
      background-color: #414141;

      .partners__logo-block {
        width: 72px;
        @media (max-width: 650px) {
          width: 42px;
        }
      }
    }

    &:nth-child(4) {
      background-color: #985252;

      .partners__logo-block {
        @media (max-width: 650px) {
          width: 33px;
        }
      }
    }

    &:nth-child(5) {
      background-color: #5360bf;

      .partners__logo-block {
        width: 67px;
        @media (max-width: 650px) {
          width: 40px;
        }
      }
    }

    &:nth-child(6) {
      background-color: #579656;

      .partners__logo-block {
        width: 82px;
        @media (max-width: 650px) {
          width: 48px;
        }
      }
    }
  }

  &__logo-img {
    width: 100%;
    height: 100%;
  }

  &__logos-block {
    display: flex;
    align-items: center;
  }

  &__line {
    display: block;
    height: 48px;
    background-color: #fff;
    width: 2px;
    margin: 0 20px;
    @media (max-width: 650px) {
      height: 28px;
      margin: 0 11px;
    }
  }

  &__logo-block {
    margin-bottom: 7px;
    @media (max-width: 650px) {
      margin-bottom: 5px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43.2px;
    text-align: center;
    color: #fff;
    position: relative;
    margin-bottom: 38px;
    @media (max-width: 1550px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media (max-width: 1260px) {
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 40px;
      white-space: nowrap;
    }
    @media (max-width: 991px) {
      margin-bottom: 25px;
      font-size: 26px;
      line-height: 40px;
      white-space: nowrap;
    }
    @media (max-width: 650px) {
      font-size: 21.2px;
      line-height: 25.44px;
      text-align: center;
      color: #fff;
      margin-bottom: 28px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -20px;
      background-color: #ff9300;
      width: 299px;
      height: 5px;
      left: 50%;
      transform: translate(-50%, 0);
      @media (max-width: 650px){
        bottom: -13px;
        height: 3px;
        width: 176px;
      }
    }
  }

  &__text {
    width: 100%;
    font-weight: 200;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #fff;
    margin-bottom: 13px;
    @media (max-width: 1260px) {
      font-size: 22px;
      line-height: 27px;
    }
    @media (max-width: 650px){
      font-size: 14.14px;
      line-height: 16.96px;
      text-align: center;
      color: #fff;
      margin-bottom: 12px;
    }
  }

  &__btn {
    text-align: center;
    border-radius: 10px;
    background: #ff9300;
    padding: 13px 62px;
    font-size: 18px;
    line-height: 21.6px;
    color: #fff;
    font-weight: 600;
    @media (max-width: 650px) {
      font-size: 10.6px;
      line-height: 12.72px;
      text-align: center;
      color: #fff;
      padding: 7px 36px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}