.freebook {
  background: url("../img/freebook-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding:100px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__book {
    width: 100%;
    max-width: 662px;
    margin-right: 50px;

  }
  &__form {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.freebook-form {
  &__title {
    font-weight: 600;
    font-size: 51.04px;
    line-height: 61.25px;
    text-align: center;
    color: #fff;

  }
  &__subtitle {
    font-weight: 500;
    font-size: 34.03px;
    line-height: 40.84px;
    text-align: center;
    color: #fff;

  }
  label {

  }
  button {

  }
}