<div class="contact-block">
    <div class="container-fullhd">
        <div class="contact-block__wrapper">
            <div class="contact-block__left">
                <div class="contact-block__title">
                    GET IN TOUCH WITH US
                </div>
                <div class="contact-block__text">
                    <p>
                        Do you have questions about our products or are
                        unsure which plan is right for you?
                    </p>
                    <p>
                        Contact our team below, or schedule a Live Demo
                        (100% FREE). We look forward to speaking with you soon!
                    </p>
                </div>
                <a href="" class="contact-block__btn-demo">
                    SCHEDULE A LIVE DEMO
                </a>
                <a href="" class="contact-block__btn-email">
                    Email: sales@tvstartup.com
                </a>
                <a href="" class="contact-block__btn-call">
                    Call us Toll FREE: (800) 997-8978 (USA)
                </a>
                <a href="" class="contact-block__btn-call-border">
                    Call: (325) 268-0040 (USA)
                </a>
            </div>
            <form action="" class="contact-block__form contact-block-form">
                <div class="contact-block-form__title">
                    Contact Us
                </div>
                <label for="">
                    <svg>
                        <use xlink:href="img/icons/icons.svg#icon-man"></use>
                    </svg>
                    <input type="text" class="contact-block-form__input">
                </label>
                <label for="">
                    <svg>
                        <use xlink:href="img/icons/icons.svg#email_icon"></use>
                    </svg>
                    <input type="text" class="contact-block-form__input">
                </label>
                <label for="">
                    <svg>
                        <use xlink:href="img/icons/icons.svg#mobile-phone"></use>
                    </svg>
                    <input type="text" class="contact-block-form__input">
                </label>
                <label for="" class="textarea">
                    <svg>
                        <use xlink:href="img/icons/icons.svg#message"></use>
                    </svg>
                    <textarea class="contact-block-form__input"></textarea>
                </label>
                <label for="" class="file">
                    <input type="file">
                    <span>Area of intrest</span>
                    <img src="img/arrow-black.png" alt="">
                </label>
                <button>
                    <span>Send</span>
                </button>
            </form>
        </div>
    </div>
</div>