.broadcast{
  &__wrapper{
    padding: 0 0 83px;
    @media (max-width: 650px) {
      padding-bottom: 15px;
    }
  }
  &__block{
    display: flex;
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
  &__info{
    width: 45vw;
    margin-top: 289px;
    margin-right: 75px;
    @media (max-width: 1778px) {
      width: 55vw;
    }
    @media (max-width: 1400px) {
      margin-top: 110px;
    }
    @media (max-width: 650px){
      width: 100%;
      margin-top: 11px;
    }
  }
  &__title{
    width: 100%;
    background: #094079;
    opacity: 0.8;
    padding: 11px 10px 14px 121px;
    font-weight: 500;
    font-size: 72px;
    line-height: 86.4px;
    text-align: left;
    color: #fff;
    margin-bottom: 13px;
    @media (max-width: 1778px){
      font-size: 60px;
      line-height: 70px;
    }
    @media (max-width: 1400px){
      font-size: 48px;
      line-height: 70px;
    }
    @media (max-width: 1100px){
      font-size: 46px;
      line-height: 70px;
      padding-left: 100px;
    }
    @media (max-width: 991px){
      font-size: 32px;
      line-height: 40px;
      padding: 11px 10px 14px 40px;
    }
    @media (max-width: 650px){
      font-size: 19.24px;
      line-height: 23.09px;
      text-align: center;
      color: #fff;
      padding: 5px ;
    }
  }
  &__text{
    padding: 0 10px 0 125px;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.2px;
    text-align: left;
    color: #000;
    margin-bottom: 49px;
    @media (max-width: 1400px){
      font-size: 32px;
      line-height: 39px;
    }
    @media (max-width: 991px){
      font-size: 25px;
      line-height: 30px;
      padding: 0 10px 0 40px;
    }
    @media (max-width: 650px){
      font-size: 18.75px;
      line-height: 22.5px;
      text-align: left;
      color: #000;
      padding: 0 5px 0 12px;
      margin-bottom: 13px;
    }
    @media (max-width: 360px){
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      color: #000;
      padding: 0 5px 0 12px;
      margin-bottom: 13px;
    }
  }
  &__brands{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding:0 0 0 127px;
    @media (max-width: 991px) {
      padding:0 0 0 40px;
    }
    @media (max-width: 650px){
      flex-direction: column;
      align-items: center;
      width: 20vw;
    }
  }
  &__brand-block{
    &:nth-child(1){
      width: 170px;
      @media (max-width: 1560px) {
        width: 127px;
      }
      @media (max-width: 991px) {
        width: 101px;
      }
      @media (max-width: 650px) {
        width: 59px;
      }
    }
    &:nth-child(2){
      width: 267px;
      @media (max-width: 1560px) {
        width: 200px;
      }
      @media (max-width: 991px) {
        width: 120px;
      }
      @media (max-width: 650px) {
        width: 93px;
        margin:  17px 0;
      }
    }
    &:nth-child(3){
      width: 156px;
      @media (max-width: 1560px) {
        width: 80px;
      }
      @media (max-width: 1560px) {
        width:69px;
      }
      @media (max-width: 650px) {
        width: 54px;
      }
    }
  }
  &__brand-block{

  }
  &__images{
    margin-top: 193px;
    width: 53vw;
    @media (max-width: 1400px) {
      margin-top: 50px;
    }
    @media (max-width: 650px) {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: -108px;
    }
  }
  &__img{
    @media (max-width: 650px){
      width:59vw;
    }
  }
  span{
    @media (max-width: 650px) {
      display: block;
    }

  }
}